services:
  workspace:
    build:
      context: .
      dockerfile: ../Dockerfile
    container_name: "ros-jazzy-t1"
    network_mode: "host"
    environment:
      - DISPLAY=:1
    volumes:
      - .:/home/ubuntu/workbench
      - ../tmux.conf:/home/ubuntu/.tmux.conf
    ipc: host

