services:
  workspace:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "ros-jazzy-t6"
    network_mode: "host"
    environment:
      - DISPLAY=:1
      - XDG_RUNTIME_DIR
      - WAYLAND_DISPLAY
      - QT_QPA_PLATFORM=xcb
      - XCURSOR_SIZE=24
      - QT_ENABLE_HIGHDPI_SCALING=1
      - QT_SCALE_FACTOR_ROUNDING_POLICY=Round
      - GDK_DPI_SCALE=1.5
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /home/dmitry/.Xauthority:/home/ubuntu/.Xauthority:rw
      - ${XDG_RUNTIME_DIR}/${WAYLAND_DISPLAY}:/tmp/wayland-0:rw
      # - $XDG_RUNTIME_DIR/$WAYLAND_DISPLAY:$XDG_RUNTIME_DIR/$WAYLAND_DISPLAY
      - .:/home/ubuntu/workbench
      - ../tmux.conf:/home/ubuntu/.tmux.conf
    ipc: host

